.mainHeader  {
  height: 570px;
  width: 100%;
  background-color: #f5a300;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;

}

.name {
  color: #FFFFFF;
  margin-bottom: 80px;
}