#main-container {
  display:flex;
  flex-direction: column;
  background-color:#f4f1ec;
  width: 100%;
  margin-top:80px;

}

.tweet-container:hover {
  
  box-shadow: 2px 2px 1px #545149;
  
}

article.tweet-container {
  border: 2px solid black;
  width: 100%;
  background-color: #f4f1ec;
  padding: 10px;
  margin-top:20px;
  margin-bottom:20px;
}

.header-content {
  display: flex;
  justify-content: flex-start;
  
}

p.name2 {
  margin-top:25px;
}

.new-pic {
  width:100%;
  margin-right: 15px;
    
}
.handle {
  margin:10px;
  color:#c8d0e5;
  font-weight:bold;
}

div.word-container {
  font-weight: bold;
  border:10p  x black;
  margin-left:50px;
  margin-bottom: 20px;

  
}

header.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-footer {
  border-top: 3px solid black ;
  display: flex;
  justify-content: space-between;
}
.icons {
  margin: 10px;
  font-size: 20px;
  color: #4056A1;
}

.tweet-date {
  margin:5px;
  margin-left:10px;
  font-size: 18px;

}
.icons .fas:hover {
  color: rgba(167, 144, 14, 0.383);
}
